@model List<Employee>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Employee list</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
                    Create new Employee
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.Id))
                {
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.FullName</td>
                        <td>@obj.Gender</td>
                        <td>@obj.Phone</td>
                        <td>@obj.Email</td>
                        <td>@obj.Salary</td>
                        <td>@obj.Status</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    Edit
                                </a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>