@model IEnumerable<Employee>

<div class="row pb-3">
    @foreach (var employee in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@employee.imageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">
                                    @employee.FullName
                                </p>
                                <p class="card-title text-warning text-center">
                                    from <b>
                                        Đan Phượng
                                    </b>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Giá gốc:
                                    <span class="text-decoration-line-through">
                                        @((employee.Salary * 2).ToString("c"))/tháng
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    Chỉ còn: @((employee.Salary).ToString("c"))/tháng
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>